@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Increase specificity for utility classes */
html body .text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

/* Force button colors */
html body .bg-slate-900,
html body .bg-primary {
  background-color: #2D3142 !important;
}

html body .hover\:bg-slate-800:hover,
html body .hover\:bg-primary-hover:hover {
  background-color: #3A4056 !important;
}

/* Add your other important overrides here */